AGNES_MERCHANT_KEY="your_agnes_merchant_key_here"
AGNES_PERSONAL_KEY="your_agnes_personal_key_here"
NVIDIA_API_KEY="your_nvidia_api_key_here"
AWS_ACCESS_KEY_ID="your_aws_access_key_id_here"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key_here"
LOCAL_AUTH_TOKEN="your_random_auth_token_here"
